.container {
  padding: 79px 22px 40px 22px;
  background-color: var(--white-color);
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #333333;
}

.title {
  composes: subtitle;
  margin: 0 auto;
  width: 200px;
  margin-top: 16px;
  font-size: 32px;
}

.text {
  composes: subtitle;
  margin-top: 24px;
}

.img {
  width: 280px;
  height: 176px;
  margin-bottom: 8px;
}

.img:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .img {
    width: 233px;
    height: 148 px;
  }
}

@media screen and (min-width: 1360px) {
  .img {
    width: 670px;
    height: 460px;
  }
}
