.container {
  padding: 79px 22px 40px 22px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 48px 32px 40px 32px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    padding: 80px 28px;
  }
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

.title {
  composes: subtitle;
  margin: 0 auto;
  width: 200px;
  margin-top: 16px;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.text {
  composes: subtitle;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}

.galleryBlock {
  display: grid;
  grid-row-gap: 8px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .galleryBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    align-content: center;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 223px;
    height: 148px;
  }
}

@media screen and (min-width: 1360px) {
  .img {
    width: 421px;
    height: 282px;
  }
}
