.container {
  position: relative;
  padding: 79px 22px 40px 22px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 48px 32px 40px 32px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    padding: 80px 28px;
  }
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

.title {
  composes: subtitle;
  margin: 0 auto;
  width: 200px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    width: 284px;
  }
}

.text {
  composes: subtitle;
  width: 207px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
    width: 645px;
  }
}

.galleryBlock {
  display: grid;
  grid-row-gap: 8px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .galleryBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    align-content: center;
    margin-top: 30px;
  }
}

.img {
  cursor: pointer;
  opacity: 1;
}

.img:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .img {
    width: 223px;
    height: 148px;
  }
}

@media screen and (min-width: 1360px) {
  .img {
    width: 421px;
    height: 282px;
  }
}

@keyframes scaleAnim {
  0% {
    scale: 0.5;
  }

  100% {
    scale: 1;
  }
}

.lightboxImgAnim {
  width: 300px;
  object-fit: cover;
  border: 3px solid var(--white-color);
  border-radius: 5px;

  animation-name: scaleAnim;
  animation-duration: 1000ms;
}

@media screen and (min-width: 768px) {
  .lightboxImgAnim {
    width: 700px;
    height: auto;
    border: 5px solid var(--white-color);
  }
}

@media screen and (min-width: 1360px) {
  .lightboxImgAnim {
    width: 1000px;
    height: auto;
  }
}

.lightboxImg {
  composes: lightboxImgAnim;

  animation-name: none;
  animation-duration: none;
}

@keyframes opacityAnim {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;
  opacity: 1;

  animation-name: opacityAnim;
  animation-duration: 4000ms;
}

.close:hover {
  opacity: 0.6;
}

.lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 46, 46, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper {
  position: relative;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 201.7px;
  background-color: rgba(255, 255, 255, 0.973);
}

@media screen and (min-width: 768px) {
  .loader {
    width: 700px;
    height: 469.3px;
    border: 5px solid var(--white-color);
  }
}

@media screen and (min-width: 1360px) {
  .loader {
    width: 1000px;
    height: 669px;
  }
}
