.container {
  width: 320px;
  height: 533px;
  padding: 20px;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.04);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../../images/home/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .container {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../images/home/showcase@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: 1024px;
    padding: 0px 16px 32px 16px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
    height: 768px;
    padding: 32px;
    padding-top: 0;
  }
}

.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 533px;
  border: 1px solid red;
}

@media screen and (min-width: 768px) {
  .homeWrapper {
    height: 1024px;
  }
}

@media screen and (min-width: 1360px) {
  .homeWrapper {
    height: 768px;
  }
}
