.footerContainer {
  height: 109px;
  padding: 20px 30px;
  background-color: #333333;
}

.socialWrpper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcon {
  cursor: pointer;
}

.socialIcon:not(:last-child) {
  margin-right: 25px;
}

.socialIcon:hover path {
  fill: var(--accent-color);
}

.copyright {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .copyright {
    font-size: 18px;
    margin-top: 10px;
  }
}
